.popup {
    width: 400px;
    height: 100px;
    background-color: beige;
    text-shadow: 0, 0, 5px, 5px, rgba(0,0,0,0.3);
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    border-radius: 20px;
    line-height: 100px;
    box-shadow: 0 0 5px 5px #888;
}

.ellipse {
    width: 180px;
    height: 100px;
    background-color: lime;
    border-radius: 50%
}

.circle {
    width: 100px;
    height: 100px;
    background-color: lime;
    border-radius: 50%;

}

.lime {
    width: 100px;
    height: 100px;
    background-color: lime;
    border-radius: 0 25% 0 25%;
}